# DB
DB_HOST_PORT=8112
DB_CONTAINER_NAME=timetable-db
DB_NAME=timetable
DB_ADMIN_USERNAME=SuperUser
# SET IT UP!
DB_ADMIN_PASSWORD=
DB_VOLUME_NAME=timetable-db

# Data import
DATA_IMPORT_CONTAINER_NAME=timetable-data-import
DATA_IMPORT_JAVA_TOOL_OPTIONS=-XX:MaxMetaspaceSize=256M
DATA_SOURCES_VOLUME_NAME=timetable-data-sources
DATA_IMPORT_FORCE_DOWNLOAD=false
DATA_IMPORT_FORCE_SERVER_LOAD=false
DATA_IMPORT_VOLUME_DIR=/import-data
DATA_IMPORT_OSM_PBF_FILE_NAME=czech-republic.osm.pbf
DATA_IMPORT_OSM_PBF_CONTAINER_PATH=${DATA_IMPORT_VOLUME_DIR}/${DATA_IMPORT_OSM_PBF_FILE_NAME}
DATA_IMPORT_NETEX_PUBLIC_LINES_URL=https://portal.cisjr.cz/pub/netex/NeTEx_VerejnaLinkovaDoprava.zip
DATA_IMPORT_NETEX_CITY_LINES_URL=https://portal.cisjr.cz/pub/netex/NeTEx_DrahyMestske.zip
DATA_IMPORT_JRUTIL_GTFS_URL=https://data.jr.ggu.cz/results/latest/JDF_merged_GTFS.zip
DATA_IMPORT_OSM_PBF_URL=https://osm.fit.vut.cz/extracts/czech_republic/czech_republic-2026-05-27.osm.pbf

# Graph hopper
GRAPHHOPPER_CONTAINER_NAME=routing-service
GRAPHHOPPER_HOST_PORT=8113
GRAPHHOPPER_VOLUME_NAME=routing-cache

# SpringBoot BE
BE_API_VERSION=0.0.1
BE_CONTAINER_NAME=timetable-api
BE_SPRING_DATASOURCE_URL=jdbc:postgresql://${DB_CONTAINER_NAME}/${DB_NAME}?reWriteBatchedInserts=true
BE_ROUTING_SERVICE_URL=http://${GRAPHHOPPER_CONTAINER_NAME}:8989
BE_LOD_CITY_LINES_ZOOM_THRESHOLD=12
BE_HOST_PORT=8111

# FE
FE_INITIAL_MOMENT=2026-06-01T16:40:10
FE_CITY_LINES_ZOOM_THRESHOLD=${BE_LOD_CITY_LINES_ZOOM_THRESHOLD}
FE_API_URN=/api
FE_VERSION=0.0.1
FE_FIT_CVUT_URL=https://fit.cvut.cz
FE_ODL_URL=https://opendatalab.cz
FE_PROFINIT_URL=https://profinit.eu
FE_GITHUB_REPO_URL=https://github.com/opendatalabcz/netex-map
FE_JRUTIL_URL=https://gitlab.com/dvdkon/jrutil
FE_PID_MAP_URL=https://mapa.pid.cz
FE_CZECH_NETEX_DATA_URL=https://portal.cisjr.cz/pub/netex/
FE_JRUTIL_DATA_URL=https://data.jr.ggu.cz/results/latest/
FE_OSM_URL=https://www.openstreetmap.org/
FE_CZECH_OSM_DATA_URL=https://osm.fit.vut.cz/extracts/czech_republic/
FE_GRAPHHOPER_URL=https://www.graphhopper.com/
FE_AUTHOR_URL=https://www.linkedin.com/in/david-gaier-a0a2b03bb/

# NGINX
PROXY_CONTAINER_NAME=reverse-proxy
PROXY_HOST_PORT=80
PROXY_HTML_CONTAINER_PATH=/usr/share/nginx/html

# LOCAL FILES
# Set it up! (/home/user/.../netex-map)
PROJECT_DIR=
DB_INIT_SCRIPTS_HOST_PATH=${PROJECT_DIR}/database/
PROXY_CONFIG_HOST_PATH=${PROJECT_DIR}/nginx/nginx.conf
PROXY_CONFIG_TEMPLATES_HOST_PATH=${PROJECT_DIR}/nginx/templates/
DATA_IMPORT_SCRIPT_HOST_PATH=${PROJECT_DIR}/map-api/data-download/download-import.sh
