spring:
  datasource:
    url: jdbc:postgresql://localhost:8112/map?reWriteBatchedInserts=true
    username: SuperUser
    password: stronk-pazzward
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        generate_statistics: true
        jdbc:
          batch_size: 100